<header class="px-4 mx-auto lg:px-6">
  <div class="mx-auto mb-8 lg:mb-16 flex items-center justify-between">
    <a href="/" class="flex">
      <img src="/logo.svg" alt="Betsbrand Logo" class="h-16 w-16">
      <span class="sr-only">Designer Name</span>
    </a>
    <nav class="flex gap-4 sm:gap-6">
      <a
      class='text-sm font-medium hover:underline underline-offset-4'
      href='#about'
    >
      About
    </a>
    <a
      class='text-sm font-medium hover:underline underline-offset-4'
      href='#services'
    >
      Services
    </a>
    <a
      class='text-sm font-medium hover:underline underline-offset-4'
      href='#portfolio'
    >
      Portfolio
    </a>
    <a
      class='text-sm font-medium hover:underline underline-offset-4'
      href='#contact'
    >
      Contact
    </a>
  </nav>
    </nav>
  </div>
</header>
